@model List<GIFTed.Models.Receivers>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GIFTed!</h1>
    <h1 class="text-muted">Great Ideas For Thoughtful Gifting</h1>
    <h3>The resource designed to help you keep track of your gift giving.</h3>
    <p>
        <a role="button" class="btn btn-secondary" asp-controller="Receiver" asp-action="Add">Add a new receiver</a>
        <a role="button" class="btn btn-secondary" asp-controller="Receiver" asp-action="Index">View All Receivers</a>
    </p>
    <p>
        <a role="button" class="btn btn-warning" asp-controller="Gift" asp-action="Add">Add a new gift</a>
        <a role="button" class="btn btn-warning" asp-controller="Gift" asp-action="Index">View All Gifts</a>
    </p>


    <table class="table">


        @foreach (Receivers rec in Model)
        {
            @if ((rec.NextBirthday - DateTime.Today).Days < 30 && (rec.NextBirthday - DateTime.Today).Days > 0)
            {
                <thead>Upcoming Birthdays!</thead>
                <tr>
                    <td>@rec.Name</td>
                    <td><a class="btn btn-outline-primary" asp-controller="AboutReceiver" asp-action="Index" asp-route-id="@rec.Id">Get a gift now!</a></td>
                </tr>   
            }
        }
         

    </table>


</div>
