@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GIFTed!</h1>
    <h2>The resource designed to help you keep track of your gift giving.</h2>
    <p><a asp-controller="Receiver" asp-action="Add">Add a new receiver</a></p>
    <p><a asp-controller="Receiver" asp-action="Index">View All Receivers</a></p>
</div>
