@using GIFTed.Controllers;

<h1>Delete Gift</h1>

<form asp-action="Delete" method="post">
    @foreach (var gift in ViewBag.gifts)
    {
        <div class="form-group">
            <label>
                <span>@gift.GiftName</span>
                <input type="checkbox" name="giftId" value="@gift.Id" class="form-control" />
            </label>
        </div>
    }

    <input type="submit" value="Delete Selected Gifts"  class="btn btn-danger" />

</form>